mods/deathmatch/databases/
mods/deathmatch/dumps/
mods/deathmatch/internal.db
mods/deathmatch/internal.db-journal
mods/deathmatch/logs/
mods/deathmatch/resource-cache/
mods/deathmatch/backups/
*.db
mods/deathmatch/resources/.idea/workspace.xml
